* {
    color: #00AFB9;

}


/* index */
.contenttitle {
    color: #00AFB9;
    font-size: 28px;
    font-weight: bold;
  }  



.content {
    text-align: left;
    width: 80%;
    display: block;
    margin: 0px auto;
 }


 .content table {
    margin: 0px auto;
    border-collapse: separate;
    border-spacing: 0 2vw;
 }

 .content tr {
    width: 100%;
 }

 .content td {
    width: 33%;
    color: #00AFB9;
    line-height: inherit;
    text-align: left;
    margin-top: 20px;
    padding: 20px;
 }


 .content .title {
    padding: 20px 0;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
 }

 .content img {
     width: 80%;
     display: block;
     margin: 0 auto;
 }
 
 .content a {
  color: #00AFB9;
}

 .content a:hover {
    color: #00AFB9;
    text-decoration: none;
}


.container {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%;
}

iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}



 @media screen and (max-width: 700px) {

    .content tr {
        display:grid;
     }

     .content {
        padding: 0px;
     }

     .content td {
      width: 80%;
        margin-bottom: 0px;
        padding: 0px;
     }

    .navbar {
        padding: 0vw 5vw;
      }
    
    .contenttitle {
      color: #00AFB9;
      font-size: 20px;
      font-weight: bold;
    }  

    header p {
        text-align: left;
      }
 }