section {
   margin: 0 7em;
   text-align: left;
 }

/* index */
.subline {
   padding: 10px;
   color: #00AFB9;
   text-align: center;
   display: flex;
   flex-direction: row;
 }
 
.subline:before,
.subline:after {
     content: " ";
     flex: 1 1;
     border-bottom: 1px solid #00AFB9;
     margin: auto 24px;
 }

img {
     width: 80%;
     display: block;
     margin: 0 auto;
     border-radius: 10px;
 }


.container {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%;
}

iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

section div {
   display: grid;
   padding: 1em 2em 0em 2em;
 }

  .workgrid {
    display: grid;
    padding: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .workgrid div {
    margin: 1em 1em 2em 1em;
    text-align: left;
  }

  ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

  .workgrid li::before {
   content: "\203A"; 
   padding-right: 12px;
   color: #00AFB9; 
 }

 @media screen and (max-width: 700px) {
   .content {
      padding: 0px;
   }

   section {
   margin: 0;
   padding: 0 5vw;
   }

section div {
   display: grid;
   padding: 0px;
   margin: 0 0 0 0.5em;
   }

.workgrid {
  display: grid;
  padding: 0px;
  margin: 0 0 0 1em;
}

.workgrid div {
  margin: 1em 0 2em 0;
  text-align: left;
  width: 90%;
}

.subline:before,
.subline:after {
  content: " ";
  flex: 1 1;
  border-bottom: 2px solid #00AFB9;
  margin: auto 3vw;
}
 }