.infoheadnav {
    background-color: #F07167;
    padding: 10px 30px;
  }

  .info a {
    font-size: 18px;
    text-decoration: none;
    color: #F07167; 
  }
    
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  header li {
    font-size: 2em;
  }

  header .click:hover {
    cursor: pointer; 
    color: #F07167; 
  }

  header li::before {
    content: "\203A"; 
    padding-right: 12px;
    color: #F07167; 
    font-size: 1.5em;
  }

  header span {
    padding: 0.5em 0;
  }


/* content */
.info {
    color: #F07167;
}

  .line {
    padding: 10px;
    color: #F07167;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  
  .line:before,
  .line:after {
      content: " ";
      flex: 1 1;
      border-bottom: 1px solid #F07167;
      margin: auto 24px;
  }

section {
    margin: 0 7em;
    text-align: left;
  }

  .infogrid {
    display: grid;
    padding: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  
  .infogrid div {
    margin: 1em 1em 2em 1em;
    text-align: left;
  }

  .expgrid {
    display: grid;
    padding: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fit);
  }

  .expgrid div {
    margin: 1em 1em 2em 1em;
    text-align: left;
  }
  
  .expgrid br {
    display: none;
  }

  .expgrid li::before {
    content: "\203A"; 
    padding-right: 12px;
    color: #F07167; 
  }

  .edugrid {
    display: grid;
    padding: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  
  .edugrid div {
    margin: 1em 1em 2em 1em;
    text-align: left;
  }

  .edugrid div div {
    margin: 0;
    text-align: left;
  }


  @media screen and (max-width: 700px) {
    .navbar {
        padding: 0vw 5vw;
        height: fit-content;
      }
    
      header {
        margin: 0;
        padding: 20vw 5vw 5vw 5vw;
        text-align: justify;
      }

      header li {
        font-size: 18px;
        font-weight: 600;
      }
      

    section {
        margin: 0;
        padding: 0 5vw;
      }

  .infogrid {
    display: grid;
    padding: 0px;
    margin: 0 0 0 1em;
  }

  .infogrid div {
    margin: 1em 0 2em 0;
    text-align: left;
    width: 90%;
  }
  

  .infogrid br {
    display: none;
  }

  .expgrid {
    display: grid;
    padding: 0px;
    margin: 0 1em;
  }

  .expgrid div {
    margin: 1em 0 2em 0;
    text-align: left;
    width: 90%;
  }

  .expgrid br {
    display:block;
  }

  .edugrid {
    display: grid;
    padding: 0px;
    margin: 0 0 0 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .edugrid div {
    margin: 1em 0 2em 0;
    text-align: left;
    width: 90%;
  }

  .edugrid div div {
    width: 100%;
  }

  .line:before,
  .line:after {
    content: " ";
    flex: 1 1;
    border-bottom: 2px solid #F07167;
    margin: auto 3vw;
}
  }