.infoheadnav {
    background-color: #F07167;
    padding: 10px 30px;
  }
  
  #infohr {
    width: 80%;
    height: 0.5px;
    background-color: #F07167;
  }

.infofooter {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F07167; 
  }
  
  .infofooter a {
    font-size: 18px;
    text-decoration: none;
    color: #F07167; 
  }
  
  .infofooter a.logoun1
  {
      position: relative;
  }
  
  .infofooter a.logoun1:before {
    content: "Linkedin";
    font-size: small;
    position: absolute;
    width: 100%;
    height: 0px;
    top: -20px;
    left: -15px;
    background-color: #F07167;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .infofooter a.logoun1:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .infofooter a.logoun2
  {
      position: relative;
  }
  
  .infofooter a.logoun2:before {
    content: "cocowoohl@gmail.com";
    font-size: small;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0px;
    left: 30px;
    background-color: #F07167;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .infofooter a.logoun2:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
/* content */
section {
    margin: 0 7em;
    text-align: left;
  }
  .exp span{
    display: none;
  }
  
  .exp td:hover span{
    display: initial;
    width: 100%;
  }
  
  .infogrid {
    display: grid;
    padding: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  
  .infogrid div {
    margin: 1em 1em 2em 1em;
    text-align: left;
  }
  
  .infogrid ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .expgrid {
    display: grid;
    padding: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fit);
  }

  .expgrid div {
    margin: 1em 1em 2em 1em;
    text-align: left;
  }
  
  .expgrid br {
    display: none;
  }

  .expgrid div div {
    margin: 0;
    text-align: left;
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
        padding: 0vw 5vw;
        height: fit-content;
      }
    
      header {
        margin: 0;
        padding: 20vw 5vw 5vw 5vw;
        text-align: justify;
      }

    section {
        margin: 0;
        padding: 0 5vw;
      }

  .infogrid {
    display: grid;
    padding: 0px;
    margin: 0 0 0 1em;
  }

  .infogrid div {
    margin: 1em 0 2em 0;
    text-align: left;
    width: 90%;
  }
  

  .infogrid br {
    display: none;
  }

  section table {
    margin:0 1em;
  }
  

  .expgrid {
    display: grid;
    padding: 0px;
    margin: 0 1em;
  }

  .expgrid div {
    margin: 1em 0 2em 0;
    text-align: left;
    width: 90%;
  }

  .expgrid div div {
    width: 100%;
  }

  .expgrid br {
    display:block;
  }


  }