* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


nav a {
  display: inline;
}


/* Style the footer */
footer{
  background-color: #777;
  color: white;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer a {
  display: inline;
  text-decoration: none;
}




