.workheadnav {
  background-color: #00AFB9;
  padding: 10px 30px;
}

/* footer */
  .workfooter {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #00AFB9; 
  }
  
  .workfooter a {
    font-size: 24px;
    text-decoration: none;
    color: #00AFB9; 
  }
  
  .workfooter a.logoun1
  {
      position: relative;
  }
  
  .workfooter a.logoun1:before {
    content: "Linkedin";
    font-size: small;
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    left: -13px;
    background-color: #00AFB9;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .workfooter a.logoun1:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .workfooter a.logoun2
  {
      position: relative;
  }
  
  .workfooter a.logoun2:before {
    content: "Email";
    font-size: small;
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: -4px;
    background-color: #00AFB9;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .workfooter a.logoun2:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* work page */

 .worktitle {
    color: #00AFB9;
    font-size: 4vw;
    font-weight: bold;
  }



/* index */

 .worksindex {
    margin: 0 5em;
    text-align: left;
 }

.grid {
   display: grid;
   padding: 1em;
   align-items: center;
   grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
 }

.grid div {
   margin: 1em 0em 2em 0em;
   height:block;
   text-align: center;
}

.grid img {
    width: 600px;
    border-radius: 10px;
 }

.smgrid {
   display: grid;
   padding: 1em;
   align-items: center;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   z-index: -1;
 }

 .smgrid div {
   margin: 1em 1em 2em 1em;
   text-align: center;
   height: 400px;
}

 .smgrid img {
   max-width: 300px;
   max-height: 300px;
   border-radius: 10px;;
}

 .worksindex .title {
    color: #0081A7;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
 }

 .worksindex .title:hover {
  color: #00AFB9;
}

 .worksindex a {
  color: #00AFB9;
}

 .worksindex a:hover {
    color: #00AFB9;
    text-decoration: none;
}



 @media screen and (max-width: 700px) {
     .worksindex {
        padding: 0px;
        margin: 0 5vw;
     }

     .grid, .smgrid {
      display: block;
    }
   
   .grid div, .smgrid div {
      margin: 1vw auto 5vw auto;
      width: 100%;
      height:inherit;
      text-align: center;
   }

   .grid img, .smgrid img {
      max-width:100%;
      max-height:100%;
    }

     .worksindex .title {
      text-align: center;
   }

    .worktitle {
      color: #00AFB9;
      font-size: 20px;
      font-weight: bold;
    }  


 }