/* nav */
 .workheadnav {
    background-color: #00AFB9;
    padding: 10px 30px;
  }
  
  #workhr {
    width: 80%;
    height: 0.5px;
    background-color: #00AFB9;
  }
  
/* footer */
  .workfooter {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #00AFB9; 
  }
  
  .workfooter a {
    font-size: 24px;
    text-decoration: none;
    color: #00AFB9; 
  }
  
  .workfooter a.logoun1
  {
      position: relative;
  }
  
  .workfooter a.logoun1:before {
    content: "Linkedin";
    font-size: small;
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    left: -13px;
    background-color: #00AFB9;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .workfooter a.logoun1:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .workfooter a.logoun2
  {
      position: relative;
  }
  
  .workfooter a.logoun2:before {
    content: "Email";
    font-size: small;
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: -4px;
    background-color: #00AFB9;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .workfooter a.logoun2:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* work page */

 .worktitle {
    color: #00AFB9;
    font-size: 4vw;
    font-weight: bold;
  }


  header p {
    padding: 10px;
    text-align: center;
  }
  
  header a {
    color: black;
  }
  
  header a:hover {
    text-decoration: none;
    color: #00AFB9;
  }
  

/* index */

 .worksindex {
    padding: 20px;
    text-align: left;
 }

 .worksindex table {
    text-align: left;
    margin: 20px auto;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 2vw;
 }

 .worksindex tr {
    text-align: left;
    width: 100%;

 }

 .worksindex td {
    color: #00AFB9;
    line-height: inherit;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
 }

 .worksindex .vl {
    border-right: #00AFB9 1px solid;
    text-align: center;
    font-size: 2vw;
 }

 .worksindex .title {
    text-align: left;
    font-size: 2vw;
    font-weight: bold;
 }

 .worksindex .img {
     width: 100%;
     height: 200px;
     background-color: grey;
     font-size: x-large;
     color: white;
     line-height: 200px;
     text-align: center;
 }
 
 .worksindex a {
  color: #00AFB9;
}

 .worksindex a:hover {
    color: #00AFB9;
    text-decoration: none;
}


/* mobile index */

.worksindex_app {
    padding: 20px;
    text-align: center;
 }

 .worksindex_app td {
    text-align: center;
    margin: 20px 50px;
    width: 30%;
 }

 .worksindex_app .img {
     width: 100%;
     height: 200px;
     background-color: grey;
     font-size: x-large;
     color: white;
     line-height: 200px;
 }
 
 .worksindex_app a:hover {
    color: white;
    text-decoration: none;
}

 .worksindex_app p {
    color: #00AFB9;
    line-height: inherit;
    text-align: center;
 }


 .worksindex_app p span{
     color: #00AFB9;
     font-weight: bold;
     font-size: 100%;
     margin-top: 10px;
     margin-bottom: 0px;
     text-align: center;
 }


 @media screen and (min-width: 481px) {
    .worksindex_app {
        visibility: collapse;
    }

    .worksindex {
        visibility: visible;
    }

 }

 @media screen and (max-width: 480px) {
    .worksindex_app {
        visibility: visible;
    }

    .worksindex {
        visibility: collapse;
    }

    .navbar {
        padding: 0vw 10vw;
      }
    
    .worktitle {
      color: #00AFB9;
      font-size: 20px;
      font-weight: bold;
    }  

    header p {
        text-align: left;
      }
 }